* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid transparent;
}

body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(17px);
    color: black;
    height: 50px;
    padding: 50px;
    width: 100%;
  
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  #link{
    color: #4D4645;
    text-decoration: none;
    font-size: 25px;
  }
  
  #apply{
    border-radius: 20px;
    margin-left: 200px;
  }
  
  button{
    border: 1px solid #0588DA;
    background: rgba(255, 255, 255, 0.70);
    color: #0588DA;
    font-family: 'LT Wave', sans-serif;
    padding: 10px 30px;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #151414;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


#product{
    color: #0588DA;
    text-shadow: 0px -1px 6px rgba(255, 255, 255, 0.50);
    font-family:  'LT Wave', sans-serif;
    font-size: 100px;
    font-weight: 400;
    padding-top: 50px;

}

#pana{
  margin-left: 100px;
  margin-top: 50px;
}

#about{
    color: #4D4645;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#ap{
    margin-left: 150px;
    border-radius: 20px;
}

#foundation{
    color: #0588DA;
    font-family: 'LT Wave', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    padding-left: 150px;
    margin-top: 50px;
}

#list{
    color: #4D4645;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
}

#frame{
    padding-left: 100px;
    color: #4D4645;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 50px;
    font-weight: 400;
}

#basic{
    color: #0588DA;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;   
}

#movement{
    color: #4D4645;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;

}

#mail{
  padding:10px;
  width: 100%;
  background-color: rgba(115, 191, 69, 0.05);
  text-align: center;
}

.mail{
   background-color: #0588DA;
   border-radius: 10px;
   margin-top: 10px;
   width: 300px;
}

#subscribe{
   padding: 10px,30px;
   border-radius: 20px;
}

#connected{
   color: #4D4645;
   font-family: Ubuntu;
   font-size: 32px;
   font-weight: 400;
}

#mail{
  padding:10px;
  width: 100%;
  background-color: rgba(115, 191, 69, 0.05);
  text-align: center;
}

.mail{
   background-color: #0588DA;
   border-radius: 10px;
   margin-top: 10px;
   width: 300px;
}

#subscribe{
   padding: 10px,30px;
   border-radius: 20px;
}

#connected{
   color: #4D4645;
   font-family: Ubuntu;
   font-size: 32px;
   font-weight: 400;
}

.T_1{
    color: #4D4645;
    font-family: 'LT Wave', sans-serif;;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.T_2{
    color: #4D4645;
    font-family: 'LT Wave', sans-serif;;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
}

#a{
    text-decoration: none;
    color: #4D4645;  
}

#last{
    margin-bottom: 10px;
    border-bottom: 1px solid #73BF45;
}

@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #apply{
    margin-left: 0;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  }

  @media (max-width:500px) {
    #product{
      font-size: 50px;
      padding-left: 50px;
    }

    #pana{
      width: 90%;
      margin-left: 0px;
      margin-top: 0;
      margin-bottom: 0;
    }
    #about{
      font-size: 16px;
      width: 70%;
    }
    #foundation{
      padding-left:50px;
      font-size: 40px;
      width: 100%;
    }

    #list{
      padding-left: 50px;
    }

    #ap{
     margin-top:0;
     margin-left: 50px;
    }
    #basic{
      margin-left: 50px;
      width: 100%;
    }

    #frame{
      font-size: 15px;
      padding-left: 50px;
      margin-top: 30px;
      width: 90%;
    }
    .mail{
      width: 90%;
      padding: 10px;
      margin-bottom: 5px;
    }

    #mail{
      width: 90%;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    #subscribe{
      padding-bottom: 10px;
    }

    #movement{
      font-size: 17px;
      margin-left: 20px;
      width: 90%;
    }

    #question{
      font-size: 15px;
    }
  
    .T_1{
      padding-left: 30px;
      text-align: center;
      font-size: 10px;
  }
  #last{
    margin-top: 20px;
  }
  }